{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "no-trailing-spaces": "off",
    "comma-dangle": "off",
    "no-dupe-keys": "off",
    "semi": "off",
    "no-mixed-spaces-and-tabs": "error",
    "linebreak-style": "off",
    "require-jsdoc": "off"
  }
}
